@import "tailwindcss";

@theme {
  --animate-fade-in: fade-in 150ms ease-out forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@layer components {
  .btn {
    @apply inline-flex cursor-pointer items-center gap-1 rounded border px-2 py-0.5 font-semibold transition disabled:pointer-events-none;

    --btn-bg: var(--btn-color, var(--color-neutral-800));
    --btn-hover-bg: var(--btn-hover-color, var(--color-neutral-700));
    --btn-border: transparent;
    --btn-hover-border: transparent;
    --btn-fg: var(--color-neutral-200);
    background-color: var(--btn-bg);
    border-color: var(--btn-border);
    color: var(--btn-fg);

    &:hover {
      --btn-bg: var(--btn-hover-bg);
      --btn-border: var(--btn-hover-border);
      color: var(--btn-fg);
    }
  }

  .btn-outline {
    --btn-bg: transparent;
    --btn-hover-bg: color-mix(in oklab, var(--btn-color) 10%, transparent);
    --btn-border: var(--btn-color, var(--color-neutral-700));
    --btn-hover-border: var(--btn-hover-color, var(--color-neutral-500));
    --btn-fg: var(--btn-color, var(--color-neutral-200));
  }

  .btn-ghost {
    --btn-bg: transparent;
    --btn-hover-bg: color-mix(in oklab, var(--color-white) 10%, transparent);
    color: var(--btn-rest-fg, var(--btn-color, var(--color-neutral-400)));
  }

  .btn-link {
    @apply p-0;

    --btn-bg: transparent;
    --btn-hover-bg: transparent;
    color: var(--btn-rest-fg, var(--btn-color, var(--color-neutral-400)));
  }

  .btn-primary {
    --btn-color: var(--color-blue-500);
    --btn-hover-color: var(--color-blue-600);
  }

  .btn-error {
    --btn-color: var(--color-red-500);
    --btn-hover-color: var(--color-red-600);
  }

  .btn-disabled {
    @apply cursor-default;

    --btn-color: var(--color-neutral-800);
    --btn-hover-color: var(--color-neutral-800);
  }

  .card {
    @apply rounded border border-white/10 bg-neutral-800;
  }

  .menu {
    @apply flex flex-col rounded border border-neutral-700 bg-neutral-800 p-2;

    li {
      @apply flex flex-col;

      > * {
        @apply flex cursor-pointer items-center gap-2 rounded border border-transparent px-2 py-0.5 transition hover:bg-white/10;
      }
    }
  }

  .modal {
    @apply rounded-lg border border-neutral-700 bg-neutral-800;

    > * {
      @apply border-neutral-700 px-6 py-4;
    }
  }

  .progress {
    @apply rounded-full bg-blue-900;

    > div {
      @apply h-1 rounded-full bg-blue-500 transition-all duration-400;
    }
  }
}
