@import "tailwindcss";

@layer components {
  .btn {
    --btn-fg: var(--color-neutral-200);

    @apply inline-flex cursor-pointer items-center gap-1 rounded px-2 py-1 font-semibold transition disabled:pointer-events-none;

    --btn-bg: var(--btn-color, var(--color-neutral-800));
    --btn-hover-bg: var(--btn-hover-color, var(--color-neutral-700));
    background-color: var(--btn-bg);
    border-color: var(--btn-border);
    color: var(--btn-fg);

    &:hover {
      --btn-bg: var(--btn-hover-bg);
      --btn-border: var(--btn-hover-border);
      color: var(--btn-fg);
    }
  }

  .btn-outline {
    @apply border;

    --btn-bg: transparent;
    --btn-hover-bg: color-mix(in oklab, var(--btn-color) 10%, transparent);
    --btn-border: var(--btn-color, var(--color-neutral-700));
    --btn-hover-border: var(--btn-hover-color, var(--color-neutral-500));
    color: var(--btn-rest-fg, var(--btn-color, var(--color-neutral-200)));
  }

  .btn-ghost {
    --btn-bg: transparent;
    --btn-hover-bg: color-mix(in oklab, var(--color-white) 10%, transparent);
    color: var(--btn-rest-fg, var(--btn-color, var(--color-neutral-400)));
  }

  .btn-link {
    @apply p-0;

    --btn-bg: transparent;
    --btn-hover-bg: transparent;
    color: var(--btn-rest-fg, var(--btn-color, var(--color-neutral-400)));
  }

  .btn-primary {
    --btn-color: var(--color-blue-500);
    --btn-hover-color: var(--color-blue-600);
  }

  .btn-disabled {
    --btn-color: var(--color-neutral-800);
    --btn-hover-color: var(--color-neutral-800);

    @apply cursor-default;
  }

  .card {
    @apply rounded border border-white/10 bg-neutral-800;
  }

  .list {
    @apply flex flex-col;
  }

  .menu {
    @apply flex flex-col rounded border border-neutral-700 bg-neutral-800 p-2;

    li {
      @apply flex flex-col;

      > * {
        @apply flex cursor-pointer items-center gap-2 rounded px-2 py-1 transition hover:bg-white/10;
      }
    }
  }
}
